
@media (max-width: 767.98px) {
    .img-icon {
        display: flex;
        height: 40px;
        margin-top: 10px;
    }

    .img-hover-background {
        display: none;
    }

    .img-button-top {
        right: 42px;
        z-index:3;
    }

    .img-button-bottom {
        position: absolute;
        width: 100%;
        left: 0px;
    }

    .owner-name {
        color: black !important;
        font-size: 16px !important;
    }

    .modal-comment {
        margin-top: 10px;
        margin-right: 7px;
        margin-left: 10px;
    }
}

@media (min-width: 768px){
    .grid-photos {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
    }

    .img-content:not(:hover) .i-animation {
        visibility: hidden;
        opacity: 0;
    }

    .img-button-top {
        top: 12px;
    }

    .img-button-bottom{
        bottom:12px;
    }
    .modal-layo {
        display: flex;
    }
    .modal-photo {
        min-width: 876px;
        margin-right: 16px;
    }

    .modal-comment {
        margin-top: 30px;
        min-width: 280px;
        max-width: 368px;
    }

    .modal-photo-layout {
        padding-left: 20px;
        padding-right: 20px;
    }

}

.grid-layout {
    margin-top: 32px;
    margin-right: 22px;
    margin-left: 22px;
}

.photo-content {
    width: 100% !important;
    height: auto !important;
}

#background-img-hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

.img-x {
    margin-bottom: 20px;
}

.img-content {
    position: relative;
}

.img-rel{
    position:relative;
}

.img-hover-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(180deg,rgba(0,0,0,.34) 0,rgba(0,0,0,.338) 3.5%,rgba(0,0,0,.324) 7%,rgba(0,0,0,.306) 10.35%,rgba(0,0,0,.285) 13.85%,rgba(0,0,0,.262) 17.35%,rgba(0,0,0,.237) 20.85%,rgba(0,0,0,.213) 24.35%,rgba(0,0,0,.188) 27.85%,rgba(0,0,0,.165) 31.35%,rgba(0,0,0,.144) 34.85%,rgba(0,0,0,.126) 38.35%,rgba(0,0,0,.112) 41.85%,rgba(0,0,0,.103) 45.35%,rgba(0,0,0,.1) 48.85%,rgba(0,0,0,.103) 52.35%,rgba(0,0,0,.112) 55.85%,rgba(0,0,0,.126) 59.35%,rgba(0,0,0,.144) 62.85%,rgba(0,0,0,.165) 66.35%,rgba(0,0,0,.188) 69.85%,rgba(0,0,0,.213) 73.35%,rgba(0,0,0,.237) 76.85%,rgba(0,0,0,.262) 80.35%,rgba(0,0,0,.285) 83.85%,rgba(0,0,0,.306) 87.35%,rgba(0,0,0,.324) 90.85%,rgba(0,0,0,.338) 94.35%,rgba(0,0,0,.347) 97.85%,rgba(0,0,0,.35));
}

.img-button-display {
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    pointer-events: auto;
    height: 32px;
}

.img-button-top {
    position: absolute;
    width: 100%;
}

.img-button-bottom {
    position: absolute;
    width: 100%;
}

.i-animation {
    transition: opacity .1s ease-in-out,visibility .1s ease-in-out;
}

.img-icon {
    animation-name: Qed4z;
    animation-timing-function: ease-in;
    animation-duration: .3s;
}

.img-button {
    display: flex;
    margin-left: auto;
    padding-left: 13px;
}

.a-cursor {
    cursor: zoom-in;
}

.layout-button {
    color: #767676;
    fill: currentColor;
    background-color: hsla(0,0%,100%,.9);
    border: 1px solid transparent;
    box-shadow: 0 1px 2px rgba(0,0,0,.06);
    border-radius: 4px;
}

.pos-icon {
    position: relative;
    top: -3px;
}

.pos-button {
    margin-right: 6px;
}

.owner-photo {
    flex: 1;
    min-width: 0px;
    display: inline-flex;
}

.owner-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(0,0,0,.1);
}

.owner-name {
    text-decoration: none;
    text-align: center;
    margin-left: 10px;
    padding-top: 5px;
    color: white;
    font-size: 16px;
}

.owner-name:hover {
    text-decoration: none;
    color: lightgray;
}

.modal-maxw{
    max-width:100% !important;
}

.modal-layo {
    position:relative;
    flex-direction: row;
}

.modal-padd{
    padding-left:54px !important;
    padding-right:70px !important;
}

.modal-photo {
    position: relative;
    left: 0;
    top: 0;
    flex: 1
}

.modal-btn-footer { 
    float: right;
    padding: 1rem 1rem 5px 0;
}

.modal-comment {
    position: relative;
    right: 0;
    top: 0;
}

.form-comment {
    display: flex;
    width: 100%;
}

.comment-box {
    margin-top: 9px;
    width: inherit;
    /*margin-left: 7px;*/
}

.comment-content{
    resize:none;
    width:100%;
}

.user-comment-layout{
    max-height:500px;
    overflow:auto;
    overflow-x:hidden;
}

.mod3Xp{
    border:0px !important
}

.mod5xp{
    padding:0 !important;
}

.btn-send {
    margin-left: 6px;
    margin-right: 6px;
}

.btn-send:hover{
    color:red;
}

.modal-header-textn {
    padding-top: 5px;
    margin-left: 7px;
}

.btn-hw{
    height: 32px !important;
    width: 42px !important;
}

.user-comment{
    display:flex;
    margin-right:20px;
    margin-bottom:8px;
}

.user-layout{
    margin-right:8px;
}

.comment-content {
    background: #f2f3f8;
    max-width: 100%;
    position: relative;
    word-break: break-word;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 18px;
    margin: 0;
    padding: 4px 5px 5px 5px;
}

.c-content{
    padding:6px;
}