moda    /* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  padding:0;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    width: 100%;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #3b3b3b;
}

#nav-item {
    width: 700px;
}

.nav-search {
    height:35px;
    display: flex;
    margin-top: 1px;
    background-color: rgb(241, 241, 241);
    border-radius: 20px 20px 20px 20px;
}

.navsearchTerm {
    outline: none;
    font-size:13px;
    background-color: rgb(241, 241, 241);
    width: 100%;
    padding: 5px;
    border-radius: 0 20px 20px 0;
}

    .navsearchTerm:focus {
        color: #333;
    }

.navsearchButton {
    width: 40px;
    height: 32px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    border-radius: 20px 0 0 20px;
}

    .navsearchButton i {
        color: rgb(204, 203, 203);
    }


/*upload modal=========================================*/

#myModal {
    display:none; 
    position: fixed; 
    z-index: 11111; 
    padding-top: 10px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    max-width: 95%;
}


.file-upload {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    z-index: 1111;
    border: 1px dashed rgb(137, 137, 137);
    height:450px;
}

.file-upload-btn {
    margin-top: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid rgb(137, 137, 137);
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-size:12px;
    z-index:111;
}

    .file-upload-btn:hover {
        transition: all .2s ease;
        cursor: pointer;
    }
.close {
    margin-top: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid rgb(137, 137, 137);
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-size: 12px;
}

    .close:hover {
        background:rgb(184, 184, 184);
        transition: all .2s ease;
        cursor: pointer;
    }

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {   
    height:100px;
}

    .image-dropping,
    .image-upload-wrap:hover {

     
    }

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
    font-weight:200;
}

    .drag-text h3 {
        text-transform: uppercase;
        padding: 40px 0 0 0;
    }

.file-upload-image {
    max-height: 300px;
    max-width: 300px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    transition: all .2s ease;
    text-transform: uppercase;
    font-size:15px;
}

    .remove-image:hover {
        background: #c13b2a;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }

    .remove-image:active {
        border: 0;
        transition: all .2s ease;
    }

    /* end upload modal=========================================*/



/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}




/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}




/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin:0;
  padding:0;

}

.container-fluid {
    margin: 0;
    padding: 0;
}

.navbar {
    position:fixed;
    width: 100%;
    z-index: 111;
    top: 0;
    display: block;
}

.nav-item {
    margin-right: 20px;
}

.dropdown {
    background: none;
    border: none;
    top: 3px;
    position: relative;
    display:inline-flex;
}

.line {
    background-color: dimgray;
    width: 1px;
    height: 38px;
    float: left;
    border: 1px solid silver;
}

.upload-modal {
    display: none;
}

 

.bi{
    color:rgba(0,0,0,.5);
}
.notification:hover{
    color:black;
}

.avatar{
    padding-top:4px;
    margin-right:0;
}


#photos {
    /* Prevent vertical gaps */
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    -moz-column-count: 3;
    -moz-column-gap:20px;
    column-count: 3;
    column-gap: 20px;
    margin:20px;
}

    .photo-content {
        /* Just in case there are inline attributes */
        width: 100%;
        height: auto ;   
       
    }

@media (max-width: 1200px) {
    #photos {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
    #nav-item {
        margin-right: 0;
    }
    .nav-item {
        margin-right: 30px;
    }
    
}

@media (max-width: 900px) {
    #photos {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;

    }
   
    #nav-item {
        margin-right: 40px;
    }
}

@media (max-width: 575px) {    
    #photos {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        margin-left:0;
        margin-right:0;
        margin-bottom:40px;
    }

    #nav-item{
        width:339px;
        margin-right:69px;
    }
   
    .line{
        display:none;
    }
    .bgimage{
        height:400px;
    }

    .wrap{
        display:none;
    }
        
    .avatar{
        padding-top:3px;
    }
 
}


@media (max-width: 430px) {

    #nav-item {
        width: 250px;
        margin-right: 37px;
    }

}
 
.content:hover {
    opacity: 0.7;
}

.bgimage {
    height: 540px;
    background: url('../images/girl.jpg'), linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

col-lg-12 col-md-12 col-sm-12 col-xs-12 {
    top: 400px;
    padding-right:0;
}

.bgimage h1 {
    color: white;
    padding-top:120px;
    margin-bottom:20px;
}

.search {
    max-width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    padding: 5px;
    height: 50px;
    border-radius:0 5px 5px 0;
    outline: none;
    color: #e5e5e5;
}

    .searchTerm:focus {
        color: #333;
    }

.searchButton {
    width: 40px;
    height: 50px;
    color: black;
    background: rgb(255, 251, 251);
    text-align: center;
    color: #fff;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    font-size: 20px;
}
.searchButton i {
    color: rgb(204, 203, 203);
}




/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 50%;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn_love {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


/*vertical menu*/
.vertical_menu{  
    display:flex;
    z-index:111;
    margin-top:53px;  
    
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

    div.scrollmenu a {
        display: inline-block;
        color: rgb(117, 117, 117);
        text-align: center;
        padding: 15px 30px 5px 20px;
        text-decoration: none;
    }

        div.scrollmenu a:hover {
             border-color: rgb(135, 135, 135);
        }

    div.scrollmenu::-webkit-scrollbar {
        height: 1px;
        width: 100px;
        background: #fff;
    }

/*.menu a {
    display: inline-block;
    color: rgb(117, 117, 117);
    text-align: center;
    padding: 13px 5px 5px 15px;
    text-decoration: none;
}

.viewall a {
    display: inline-block;
    color: rgb(117, 117, 117);
    text-align: center;
    padding: 13px 5px 5px 15px;
    text-decoration: none;
}*/


/*user page*/
 .mt-5{
     padding-top:40px;
 }
 

.author-card {
    padding-top:20px;
    position: relative;
    padding-bottom: 48px;
    background-color: #fff;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
}

 

    .author-card .author-card-profile {
        display: table;
        position: relative;
        padding-right: 15px;
        padding-bottom: 16px;
        padding-left: 20px;
        z-index: 5;
    }

        .author-card .author-card-profile , .author-card .author-card-profile .author-card-details {
            display: table-cell;
            vertical-align: middle;
        }

        .author-card .author-card-profile    {
            width: 300px;          
            overflow: hidden;
        }

    .author-card .author-card-avatar > img {
        display: block;
        width: 60%;    
        margin: 0 auto;
        position: relative;
    }

        .author-card .author-card-profile .author-card-details {
            padding-top: 20px;
            padding-left: 15px;
        }

        .author-card .author-card-profile .author-card-name {
            margin-bottom: 2px;
            font-size: 14px;
            font-weight: bold;
        }

        .author-card .author-card-profile .author-card-position {
            display: block;
            color: #8c8c8c;
            font-size: 12px;
            font-weight: 600;
        }

    .author-card .author-card-info {
        margin-bottom: 0;
        padding: 0 25px;
        font-size: 13px;
    }

    .author-card .author-card-social-bar-wrap {
        position: absolute;
        bottom: -18px;
        left: 0;
        width: 100%;
    }

        .author-card .author-card-social-bar-wrap .author-card-social-bar {
            display: table;
            margin: auto;
            background-color: #fff;
            box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .11);
        }


.author-card-details{
    padding-top:20px;
    text-align:center;
}


.btn-style-1.btn-white {
    background-color: #fff;
}

.list-group-item i {
    display: inline-block;
    margin-top: -1px;
    margin-right: 8px;
    font-size: 1.2em;
    vertical-align: middle;
}

.mr-1, .mx-1 {
    margin-right: .25rem !important;
}

.list-group-item.active:not(.disabled) {
    border-color: #e7e7e7;
    background: #fff;
    color: #1b6ec2;
    cursor: default;
    pointer-events: none;
}

.list-group-flush:last-child .list-group-item:last-child {
    border-bottom: 0;
}

.list-group-flush .list-group-item {
    border-right: 0 !important;
    border-left: 0 !important;
}

.list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

a.list-group-item, .list-group-item-action {
    color: #404040;
    font-weight: 600;
}

.list-group-item {
    padding-top: 16px;
    padding-bottom: 16px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #e7e7e7 !important;
    border-radius: 0 !important;
    color: #404040;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .08em;
    text-transform: uppercase;
    text-decoration: none;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.125);
}

    .list-group-item.active:not(.disabled)::before {
        background-color: #1b6ec2;
    }

    .list-group-item::before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        background-color: transparent;
        content: '';
    }

    .dropdown-toggle::after{
        display:none;
    }





/*user profile=============================================================*/
.user_container {
    max-width: 1248px;
    padding: 0 ;
    background-color: #fff;
    margin-top:85px;
}


.left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.photo {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.name {
    margin-top: 20px;
    font-weight: 600;
    font-size: 25pt;
    
}

.info_edit {
    display:flex;
    color: #777;
}

    .info_edit i {
        padding-top: 35px;
        padding-left: 15px;
        color: #777;
    }

.stats {
    margin-top: 25px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
}


.number-stat {
    padding: 5px;
    font-size: 14pt;
    font-weight: bold;
    color: #aaa;
}

.desc-stat {
    margin-top: -15px;
    font-size: 10pt;
    color: #bbb;
}

.desc {
    text-align: center;
    margin-top: 25px;
    margin: 25px 40px;
    color: #999;
    font-size: 11pt;
    padding-bottom: 25px;
    border-bottom: 1px solid #ededed;
}

.social {
    margin: 5px 0 12px 0;
    text-align: center;
    display: inline-block;
    font-size: 20pt;
}

    .social i {
        cursor: pointer;
        margin: 0 15px;
    }

        .social i:nth-child(1) {
            color: #4267b2;
        }

        .social i:nth-child(2) {
            color: #1da1f2;
        }

        .social i:nth-child(3) {
            color: #bd081c;
        }

        .social i:nth-child(4) {
            color: #36465d;
        }

.right {
    padding: 0 25px 0 25px !important;
}

.nav {
    display: inline-flex;
}

    .nav li {
        margin: 40px 30px 0 10px;
        cursor: pointer;
        font-size: 13pt;
        text-transform: uppercase;
        font-weight: 500;
        color: #888;
    }

        .nav li:hover, .nav li:nth-child(1) {
            color: #999;
            border-bottom: 2px solid #999;
        }

.follow {
    position: absolute;
    right: 3%;
    top: 35px;
    font-size: 11pt;
    background-color: #42b1fa;
    color: #fff;
    padding: 8px 15px;
    cursor: pointer;
    transition: all .4s;
    font-weight: 400;
}

    .follow:hover {
        box-shadow: 0 0 15px rgba(0,0,0,0.2), 0 0 15px rgba(0,0,0,0.2);
    }

@media (max-width:990px) {
     
    .follow {
        width: 50%;
        margin-left: 25%;
        display: block;
        position: unset;
        text-align: center;
    }
}

.gallery {
    margin-top: 35px;
}

    .gallery div {
        margin-bottom: 30px;
    }

    .gallery img {
        box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
        width: auto;
        height: auto;
        cursor: pointer;
        max-width: 100%;
    }




lb_upload {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}

    lb_upload:before {
        background: #f1f1f1;
        border-color: #d6d6d6;
    }

    lb_upload:after {
        content: "\f040";
        font-family: 'FontAwesome';
        color: #757575;
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;   
    }



@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#mediaFile {
    position: absolute;
    top: -1000px;
}

#profile {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    background: #f4f4f4;
    display: table;
    background-size: cover;
    background-position: center center;
 
}

.dashes {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    border: 4px dashed #ddd;
    opacity: 1;
}

#profile label {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 30px;
    color: grey;
    opacity: 1;
}

/*============================================end user profile*/


/*==========================================About page*/

.ab-column {
    float: left;
    width: 40%;
    margin-bottom: 70px;
    padding: 0 8px;
}

.ab-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 55px 50px 50px 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.container {
   
}

    .container::after, .row::after {
        content: "";
        clear: both;
        display: table;
    }

.ab-title {
    color: grey;
}

.ab-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

    .ab-button:hover {
        background-color: #555;
    }

@media screen and (max-width: 650px) {
    .ab-column {
        width: 100%;
        display: block;
    }
}
/*==========================================end About page*/



/*===========================================notification*/



.alert_list {
    font-size: 11px;
    color: grey
}

li.alert_li {
    font-size: 11px;
    color: grey;
    padding: 10px 0px 2px 0px;
    border-bottom: thin solid #c0c0c0;
}

    li.alert_li:hover {
        background-color: #eee
    }

.time {
    float: right;
    margin-bottom: 1px
}

a.alert_message {
    color: grey
}

    a.alert_message:hover {
        color: grey
    }
 

/*=========================================== endnotification*/



/*=============================================bottom nav*/