@model UserViewModel
@{
    ViewData["Title"] = "Login";
    ViewBag.showtopbar = false;
}

<div class="limiter" style="height:auto;">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" method="post">
                <div asp-validation-summary="All"></div>
                <span class="login100-form-title p-b-43 p-t-20">
                    <strong>Login</strong>
                </span>
                @* <div class="login100-form-social flex-c-m">
                    <div class="fb-login-button" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-width=""></div>
                </div> *@
                <div class="text-center p-t-46 p-b-20">
                    <span class="txt2">
                        or
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input asp-for="Email" class="input100" id="email" type="text" name="email" required>
                    <span class="focus-input100"></span>
                    <span asp-validation-for="Email" class="label-input100">Email</span>
                </div>


                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input asp-for="Password" class="input100" id="password" type="password" name="password" required>
                    <span class="focus-input100"></span>
                    <span class="label-input100">Password</span>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-32">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>

                    <div>
                        <a href="#" class="txt1">
                            Forgot Password?
                        </a>
                    </div>
                </div>


                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="button" value="Login" onclick="validate()">Login</button>
                </div>



                <div class="login100-form-social flex-c-m">

                    @*<fb:login-button class="login100-form-social-item flex-c-m bg2 m-r-5" scope="public_profile,email"
                                         onlogin="checkLoginState();">
                            <i class="fa fa-facebook-f" aria-hidden="true"></i>
                        </fb:login-button*@

                </div>

                <div class="text-center p-t-46 p-b-20">
                    <span class="txt2">
                        Don't have an account? <a asp-controller="Account" asp-action="Signup"><italic>Join</italic></a>
                    </span>
                </div>
            </form>

            <div class="login100-more" style="background-image: url('/images/hoa.png');">
            </div>
        </div>
    </div>
</div>

@section Scripts
{

    @*<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0&appId=1153748928321536&autoLogAppEvents=1" nonce="UgOll85X"></script>*@
<script type="text/javascript">
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '1153748928321536',
                    cookie: true,
                    xfbml: true,
                    version: 'v7.0'
                });

                FB.AppEvents.logPageView();

            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) { return; }
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));


            function Login() {
                FB.login(function (response) {
                    if (response.authResponse) {
                        getFacebookUserInfo();
                    } else {
                        console.log('User cancelled login or did not fully authorize.');
                    }
                }, {
                    scope: 'email,user_photos,publish_actions'
                });
            }


            function getFacebookUserInfo() {
                FB.api('/me?fields=email,name', function (response) {
                    var token = $('input[name="__RequestVerificationToken"]').val();
                    $.ajax({
                        url: "/Account/fb_Login",
                        headers: { "__RequestVerificationToken": token },
                        type: "POST",
                        data: { 'name': response.name, 'email': response.email },
                        success: function (data) {
                            if (data.success === "True") {
                                location.reload();
                            }
                        },
                        error: function (data) {
                            console.log(data);
                        }
                    })
                });
            }



            function validate() {
                $.ajax(
                {
                    type: "POST",
                    url: "@Url.Action("Validate", "Account")",
                    data: {
                        email: $("#email").val(),
                        password: $("#password").val()
                    },
                    dataType: "JSON",
                    success: function (result) {
                        console.log(result);
                        if (result.status == true) {
                            if (result.name == "user")
                                window.location.href = "@Url.Action("Index", "Home")";
                            else {
                                window.location.href = "@Url.Action("Index", "Admin")";
                            }
                        }
                        else {
                            alert(result.message);
                        }
                    },
                    error: function (result) {
                        alert("There is a Problem, Try Again!");
                        console.log(result);
                    }
                });
            }
</script>
}



