@model UserViewModel
@{
    ViewData["Title"] = "Join Shutter";
}
@{
    ViewBag.showtopbar = false;
}
<div class="limiter" style="height:auto;">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" method="post" asp-controller="Account" asp-action="Signup">
                <span class="login100-form-title p-b-20">
                    <strong>JOIN SHUTTER</strong>
                </span>
                <span class="login100-form-title p-b-20" style="font-size:18px;">
                    Already have an acount? <a asp-controller="Account" asp-action="Login" style="text-decoration: underline;">Login</a>
                </span>
                @* <div class="login100-form-social flex-c-m">
            <div class="fb-login-button" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-width=""></div>
        </div> *@

                <div class="text-center p-t-20 p-b-20">
                    <span class="txt2">
                        Or
                    </span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="firstname" required>
                    <span class="focus-input100"></span>
                    <span asp-validation-for="Firstname" class="label-input100">First name</span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="lastname" required>
                    <span class="focus-input100"></span>
                    <span asp-validation-for="Lastname" class="label-input100">Last Name</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" type="email" name="email">
                    <span class="focus-input100"></span>
                    <span asp-validation-for="Email" class="label-input100">Email</span>
                </div>

                <!--   <div class="wrap-input100 validate-input" data-validate="Username is required">
        <input asp-for="Username" class="input100" type="text" name="Username">
        <span class="focus-input100"></span>
        <span asp-validation-for="Username" class="label-input100">Username</span>
    </div>-->

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="password">
                    <span class="focus-input100"></span>
                    <span asp-validation-for="Password" class="label-input100">Password</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Confirm password doesn't match">

                    <input class="input100" type="password" name="confirmpassword">
                    <span class="focus-input100"></span>
                    @*@Html.LabelFor(model => model.PasswordConfirm, htmlAttributes: new { @class = "label-input100" })*@
                    <span class="label-input100">Confirm password</span>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <span class="text-danger">@ViewBag.ErrorMessage</span>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit" value="User">
                        Join
                    </button>
                </div>
            </form>

            <div class="login100-more" style=" background-image: url('/images/hoa.png');">
            </div>
        </div>
    </div>
</div>
@section Scripts
{
     
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=1153748928321536&autoLogAppEvents=1" nonce="UgOll85X"></script>

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1153748928321536',
                cookie: true,
                xfbml: true,
                version: 'v7.0'
            });

            FB.AppEvents.logPageView();

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


            function checkLoginState() {
                FB.getLoginStatus(function (response) {
                    $('#authstatus').html("<code>" + JSON.stringify(response, null, 2) + "</code>");
                });
            }
        (function ($) {
            "use strict";

            $('.input100').each(function () {
                $(this).on('blur', function () {
                    if ($(this).val().trim() != "") {
                        $(this).addClass('has-val');
                    }
                    else {
                        $(this).removeClass('has-val');
                    }
                })
            })

            var input = $('.validate-input .input100');

            $('.validate-form').on('submit', function () {
                var check = true;

                for (var i = 0; i < input.length; i++) {
                    if (validate(input[i]) == false) {
                        showValidate(input[i]);
                        check = false;
                    }
                }
                return check;
            });

            $('.validate-form .input100').each(function () {
                $(this).focus(function () {
                    hideValidate(this);
                });
            });
            @*function validate(input) {
                if ($(input).attr('type') == 'email' || $(input).attr('name') == 'email') {
                    if ($(input).val().trim().match(^[a-z][a-z0-9_\.]{5,32}+@[a-zA-Z0-9]{2,}(\.[a-z0-9]{2,4}){1,2}$)) == null) {
                        return false;
                    }
                }
                else {
                    if ($(input).val().trim() = = '') {
                        return false;
                    }
                }
            }*@

            function showValidate(input) {
                var thisAlert = $(input).parent();
                $(thisAlert).addClass('alert-validate');
            }
            function hideValidate(input) {
                var thisAlert = $(input).parent();
                $(thisAlert).removeClass('alert-validate');
            }
        });
    </script>
}