
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row" style="margin: 0;justify-content: center;">
    <div class="ab-column">
        <div class="ab-card">
            <img src="~/images/41971882_696072084101621_3714114531614523392_o.jpg"  alt="dat" style="width:100%"/>
            <div class="container p-b-20"  >
                <h2>Quốc Đạt</h2>
                <p class="ab-title">CEO & Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>jane@example.com</p>
                <p><button class="ab-button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="ab-column">
        <div class="ab-card">
            <img src="~/images/girl.jpg"  alt="Khiet" style="width:100%" />
            <div class="container p-b-20">
                <h2>Trung Khiết</h2>
                <p class="ab-title">Co Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>mike@example.com</p>
                <p><button class="ab-button">Contact</button></p>
            </div>
        </div>
    </div>     
</div>
 