
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row" style="margin: 0;justify-content: center;">
    <div class="ab-column">
        <div class="ab-card">
            <img src="~/images/41896876_696072107434952_8331443630262714368_o.jpg"  alt="dat" style="width:100%"/>
            <div class="container p-b-20"  >
                <h2>Quốc Đạt</h2>
                <p class="ab-title">CEO & Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>jane@example.com</p>
                <p><button class="ab-button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="ab-column">
        <div class="ab-card">
            <img src="~/images/41948621_696072174101612_1586256878407516160_o.jpg"  alt="Khiet" style="width:100%" />
            <div class="container p-b-20">
                <h2>Trung Khiết</h2>
                <p class="ab-title">Co Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>mike@example.com</p>
                <p><button class="ab-button">Contact</button></p>
            </div>
        </div>
    </div>     
</div>

<hr />
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 footer-about wow fadeInUp animated m-b-20" style="visibility: visible; animation-name: fadeInUp;">
                    <h3>About us</h3>
                    <p>
                        We are a young company always looking for new and creative ideas to help you with our products in your everyday work.
                    </p>
                    <p>© Company Inc.</p>
                </div>
                <div class="col-md-4 offset-md-1 footer-contact wow fadeInDown animated m-b-20" style="visibility: visible; animation-name: fadeInDown;">
                    <h3>Contact</h3>
                    <p><i class="fa fa-map-marker-alt"></i> Via Rossini 10, 10136 Turin Italy</p>
                    <p><i class="fa fa-phone"></i> Phone: (0039) 333 12 68 347</p>
                    <p><i class="fa fa-envelope"></i> Email: <a href="mailto:hello@domain.com">hello@domain.com</a></p>
                    <p><i class="fa fa-skype"></i> Skype: you_online</p>
                </div>
                <div class="col-md-4 footer-links wow fadeInUp animated m-b-20" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="row">
                        <div class="col">
                            <h3>Links</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p><a class="scroll-link" href="#top-content">Home</a></p>
                            <p><a href="#">Features</a></p>
                            <p><a href="#">How it works</a></p>
                            <p><a href="#">Our clients</a></p>
                        </div>
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-about">
        <div class="container">
            <div class="row text-center">
                <div class="col footer-social">
                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>                  
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>