
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div style="margin-top:30px;">
        <div class="about-section">
            <h1>About us </h1>
            <p>We are student at Cao Thang Technical College</p>
            <p>Our major are Information Technology.</p>
        </div>

        <h2 style="text-align:center">Our Team</h2>
        <div class="row" style="margin: 0;justify-content: center;">
            <div class="ab-column">
                <div class="ab-card">
                    <img src="~/images/41971882_696072084101621_3714114531614523392_o.jpg" alt="dat" style="width:100%" />
                    <div class="container p-b-20">
                        <h2>Quốc Đạt</h2>
                        <p class="ab-title">CEO & Founder</p>
                        <p>Student at Cao Thang Technical College, CD TH17PMC</p>
                        <p>qdat@outlook.com</p>
                        <p><button class="ab-button">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="ab-column">
                <div class="ab-card">
                    <img src="~/images/girl.jpg" alt="Khiet" style="width:100%" />
                    <div class="container p-b-20">
                        <h2>Trung Khiết</h2>
                        <p class="ab-title">Developer</p>
                        <p>Student at Cao Thang Technical College, CD TH17PMC</p>
                        <p>khiet.nguyen2@gmail.com</p>
                        <p><button class="ab-button">Contact</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>