@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Shutter | Free images and photos for every one ";
}

    <section class="vertical_menu">
        <div class="scrollmenu">
            <a href="#home">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
            <a href="#support">Support</a>
            <a href="#blog">Blog</a>
            <a href="#tools">Tools</a>
            <a href="#base">Base</a>
            <a href="#custom">Custom</a>
            <a href="#more">More</a>
            <a href="#logo">Logo</a>
            <a href="#friends">Friends</a>
            <a href="#partners">Partners</a>
            <a href="#people">People</a>
            <a href="#work">Work</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
            <a href="#support">Support</a>
            <a href="#blog">Blog</a>
            <a href="#tools">Tools</a>
            <a href="#tools">Tools</a>
        </div>
    </section>

<section class="bgimage">
    <div class="container-fluid">
        <div class="row" style="margin-right:0;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-lg-center">
                <div class="text-lg-center">
                    <h1>All the best free stock photos and images<br />Shared by talented creators</h1>
                    <div class="wrap">
                        <div class="search">
                            <button type="submit" class="searchButton">
                                <i class="fa fa-search"></i>
                            </button>
                            <input type="text" class="searchTerm" placeholder="What are you looking for?">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="photos">
    <div class="content">
        <img src="~/images/41896876_696072107434952_8331443630262714368_o.jpg" />
        <div class="img_like">
            <button class="btn_love">
                <div class="love_icon">
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                            <path fill="#f55" style="line-height:normal;-inkscape-font-specification:Sans;text-indent:0;text-align:start;text-decoration-line:none;text-transform:none;block-progression:tb;marker:none" d="m -735.72762,1099.0617 c -1.88629,-1.089 -3.98034,-1.4955 -5.9297,-1.0419 -1.94936,0.4536 -3.73075,1.7743 -4.9985,3.9701 -1.3305,2.3045 -0.94646,5.3817 0.0347,8.7525 0.98113,3.3707 2.6071,7.0764 3.94853,10.7234 0.0818,0.2096 0.31882,0.3464 0.54127,0.3125 3.82775,-0.6615 7.84783,-1.1168 11.26103,-1.9422 3.4132,-0.8254 6.27984,-2.002 7.62424,-4.3305 1.28185,-2.2203 1.49832,-4.4198 0.91194,-6.3296 -0.58638,-1.9097 -1.95591,-3.5108 -3.84014,-4.5986 -1.93857,-1.1193 -4.28261,-0.8421 -6.21206,-0.303 -0.49704,-1.9302 -1.40704,-4.0959 -3.34129,-5.2127 z" color="#000" font-family="Sans" font-weight="400" overflow="visible" transform="rotate(-30 -2403.87 -841.402)" />
                        </svg>
                    </i>
                </div>
            </button>
        </div>
    </div>

    <img src="~/images/41866246_696072110768285_3010815466550591488_o.jpg" download/>
    <img src="~/images/pagoda.jpg" alt="" />
    <img src="~/images/pagoda.jpg" alt="" />
    <img src="~/images/41971882_696072084101621_3714114531614523392_o.jpg" />
    <img src="~/images/sunset.png" alt="" />
    <img src="~/images/hoa.png" />
    <img src="~/images/pagoda.jpg" alt="" />
    <img src="~/images/41948621_696072174101612_1586256878407516160_o.jpg" />
    <img src="~/images/sunset.png" alt="" />
    <img src="~/images/unnamed.png" />
    <img src="~/images/pagoda.jpg" alt="" />
</section>
<section>
  s
</section>
