@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/shutter.ico" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/util.css" rel="stylesheet" />
    <link href="~/css/home.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" />
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css" />
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css" />
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css" />
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css" />
    <link rel="stylesheet/scss" type="text/css" href="~/scss/site.scss" />
</head>
<body>



    @if (ViewBag.showtopbar ?? true)
    {
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3" style="margin-bottom:0;min-width:370px;">
            <div class="container" style="margin:0;padding:0;max-width:1280px;">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="margin-left:0;">
                    <div class="main-nav-bar-logo" title="All stock photo">
                        <img src="~/shutter.svg" alt="Logo" width="35" />
                    </div>
                </a>
                @if (ViewBag.showsearchbar ?? true)
                {

                    <div id="nav-item" class="nav-item justify-content-start">
                        <div class="nav-search">
                            <button type="submit" class="navsearchButton">
                                <i class="fa fa-search"></i>
                            </button>
                            <input type="text" class="navsearchTerm" placeholder="Search for free photo and images">
                        </div>
                    </div>
                }
                <div style="display:flex;">
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-label="Toggle navigation" style="border:none;">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="navbar-collapse d-sm-inline-flex" id="navbar">

                    <ul class="navbar-nav flex-grow-1 justify-content-end ">

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Explore</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="About" style="cursor:pointer;">About</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="upload_modal" style="cursor:pointer;">Upload</a>
                        </li>
                        @{ var userid = Context.Session.GetString("userid");
                            if (@userid != null)
                            {


                                <li class="nav-item" style="margin:7px 25px 7px 0;">
                                    <a class="notification dropdown-toggle" data-toggle="popover" title="Notification" data-placement="bottom" aria-haspopup="true" style="cursor:pointer;">
                                        <span hidden>Notification</span>
                                        <svg class="bi bi-bell-fill" width="34" height="24" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" style="color:dimgray">
                                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
                                        </svg>
                                    </a>
                                    <div style="display:none;width:200px" class="alert_list">
                                        <ul class="unstyled">
                                            <li data-alert_id="1" class="alert_li">
                                                <a href="#" class="alert_message">User1 liked your post</a> <br />
                                                <span class="time">At 13:09</span>
                                                <div class="clearfix"></div>
                                            </li>
                                            <li data-alert_id="2" class="alert_li">
                                                <a href="#">User2 is following you</a> <br />
                                                <span class="time">1 hour ago</span>
                                                <div class="clearfix"></div>
                                            </li>
                                            <li data-alert_id="3" class="alert_li">
                                                <a href="#">User1 liked your post </a> <br />
                                                <span class="time">1 day ago</span>
                                                <div class="clearfix"></div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>


                                <li class="nav-item avatar">
                                    <a href="javascript:void(0);" class="btn-user media align-items-center dropdown-toggle" data-toggle="dropdown">
                                        <img class="mr-2" src="~/images/man.png" width="32" height="32" alt="avatar">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-info">
                                        <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Index">Profile</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="EditProfile">Account setting</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Log out</a>
                                    </div>
                                </li>
                            }

                            else
                            {

                                <li class="nav-item">
                                    <span class="line"></span>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link " asp-area="" asp-controller="Login" asp-action="Index">Log in</a>
                                </li>

                                <li class="nav-item" style="margin-right:0px;">
                                    <a class="btn btn-success text-white" asp-area="" asp-controller="SignUp" asp-action="Index">Join free</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>

        @*
        upload modal
        *@

        <div id="myModal" class="modal">
            <div class="modal-content">
                <form method="post" enctype="multipart/form-data" asp-controller="Photos" asp-action="photoUpload">
                    <div class="file-upload">
                        <div class="image-upload-wrap">
                            <input class="file-upload-input custom-file-input" type='file' @*onchange="readURL(this);"*@ accept="image/*" />
                            <div class="drag-text">
                                <h3>Drag and drop a file or select add Image</h3>
                            </div>
                            <div class="file-upload-content">
                                <img class="file-upload-image" src="#" alt="your image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer" style="padding:0;">
                        <button class="close" type="button" data-dismiss="modal">Cancel</button>
                        <button class="file-upload-btn" type="submit">Publish to Shutter</button>
                    </div>
                </form>
            </div>

        </div>

    </header>
    }

    <div class="container-fluid">
        <main role="main" class="pb-3" style="padding-bottom:0px !important;">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js">
    </script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js">
    </script>
    <script src="~/js/site.js" asp-append-version="true">
    </script>

    @RenderSection("Scripts", required: false)

    <script>

        $(document).ready(function () {
            $(".custom-file-input").on("change", function () {
                var filename = $(this).val().split("\\").pop();
                $(this).next(".image-title").html(filename);
            })

        });



        var modal = document.getElementById("myModal");
        var btn = document.getElementById("upload_modal");
        var span = document.getElementsByClassName("close")[0];

        btn.onclick = function () {
            modal.style.display = "block";
        }

        span.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

       

        function readURL(input) {
            if (input.files && input.files[0]) {

                var reader = new FileReader();

                reader.onload = function (e) {

                    $('.file-upload-image').attr('src', e.target.result);
                    $('.file-upload-content').show();
                    $('.image-title').html(input.files[0].name);
                };
                reader.readAsDataURL(input.files[0]);

            } else {
                removeUpload();
            }
        }

        function removeUpload() {
            $('.file-upload-input').replaceWith($('.file-upload-input').clone());
            $('.file-upload-content').hide();
        }
        $('.image-upload-wrap').bind('dragover', function () {
            $('.image-upload-wrap').addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
            $('.image-upload-wrap').removeClass('image-dropping');
        });



    </script>

    <script>

        $(document).ready(function () {
            if ($(window).width() < 600) {
                $('.navsearchTerm').attr('placeholder', "Search photos");
                $('bt-header').show();
            }
        });

    </script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });

        $(".notification").popover({
            'title': 'Notification',
            'html': true,
            'placement': 'bottom',
            'content': $(".alert_list").html()
        });

        $('.turn_off_alert').on('click', function (event) {
            var alert = $(this).parent();
           
        });
    </script>

</body>
</html>
