@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/shutter.ico" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/util.css" rel="stylesheet" />
    <link href="~/css/home.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <meta property="og:url" content="https://localhost:44340/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="dream" />
    <meta property="og:description" content="little girl" />
    <meta property="og:image" content="https://localhost:44340/images/41971882_696072084101621_3714114531614523392_o.jpg" />

</head>
<body>

    @if (ViewBag.showtopbar ?? true)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white" style="margin-bottom:0;min-width:370px;">
                <div class="container" style="margin:0;padding:0;max-width:100%;">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="margin-left:0;">
                        <div class="main-nav-bar-logo" title="All stock photo">
                            <img src="~/shutter.svg" alt="Logo" width="35" />
                        </div>
                    </a>
                    @if (ViewBag.showsearchbar ?? true)
                    {
                        <form asp-controller="Post" asp-action="Search" method="get">
                            <div id="nav-item" class="nav-item justify-content-start">
                                <div class="nav-search">
                                        <button type="submit" class="navsearchButton">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        <input type="text" class="navsearchTerm" placeholder="Search for free photo and images" name="tags">
                                </div>
                            </div>
                        </form>
                    }
                    <div style="display:flex;">
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-label="Toggle navigation" style="border:none;">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse d-sm-inline-flex" id="navbar">
                        <ul class="navbar-nav flex-grow-1 justify-content-end ">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Explore</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="About" style="cursor:pointer;">About</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link" id="upload_modal" style="cursor:pointer;">Upload</a>
                                </li>
                            @if (!string.IsNullOrEmpty(Context.Session.GetString("username")))
                            {
                                <li class="nav-item avatar">
                                    <a href="javascript:void(0);" class="btn-user media align-items-center dropdown-toggle" data-toggle="dropdown">
                                        <img class="mr-2" src="~/images/man.png" width="32" height="32" alt="avatar">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-info">
                                        <a class="dropdown-item" href="/User/Details/@Context.Session.GetInt32("userid")">Profile</a>
                                        <a class="dropdown-item" href="/User/editprofile/@Context.Session.GetInt32("userid")">Account setting</a>
                                        <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Log out</a>
                                    </div>
                                </li>
                            }

                            else
                            {

                                <li class="nav-item">
                                    <span class="line"></span>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link " asp-controller="Account" asp-action="Login">Log in</a>
                                </li>

                                <li class="nav-item" style="margin-right:0px;">
                                    <a class="btn btn-success text-white" asp-area="" asp-controller="Account" asp-action="SignUp">Join free</a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </nav>

            @*
                upload modal
            *@

            <div id="myModal" class="modal">
                <div class="modal-content">
                    <form method="post" enctype="multipart/form-data" asp-controller="Photos" asp-action="Create">
                        <div class="file-upload">
                            <input class="file-upload-input custom-file-input" name="files" type='file' onchange="readURL(this);" accept="image/*" />
                            <div class="image-upload-wrap">
                                <div class="drag-text">
                                    <h3>Drag and drop a file or select add Image</h3>
                                </div>
                                <div class="file-upload-content">
                                    <div class="image" style="position: relative;">
                                        <img class="file-upload-image img-responsive" src="#" alt="your image" asp-append-version="true" />
                                        <div class="image-title-wrap">
                                            <button type="button" class="remove-image fa fa-remove" onclick="removeUpload()"></button>
                                        </div>
                                    </div>
                                    <div class="image-tag">
                                        <input class="image-tag-name" type="text" name="tags" placeholder="Add your tags!" />
                                    </div>
                                    <div class="image-tag">
                                        <input class="image-location" type="text" name="location" placeholder="Add location" />
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="padding:0;">
                            <button class="close" type="button" data-dismiss="modal">Cancel</button>
                            <button class="file-upload-btn">Publish to Shutter</button>
                        </div>
                    </form>
                </div>
            </div>
        </header>
    }

    <div class="container-fluid">
        <main role="main" class="pb-3" style="padding-bottom:0px !important;">
            @RenderBody()
        </main>
    </div>

    @RenderSection("Scripts", required: false)


<script>
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("upload_modal");
        var span = document.getElementsByClassName("close")[0];


        btn.onclick = function () {
            modal.style.display = "block";
        };


        span.onclick = function () {
            modal.style.display = "none";
        };

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };

        function readURL(input) {
            if (input.files && input.files[0]) {

                var reader = new FileReader();

                reader.onload = function (e) {

                    $('.file-upload-image').attr('src', e.target.result);
                    $('.file-upload-content').show();
                    $('.image-title').html(input.files[0].name);
                };
                reader.readAsDataURL(input.files[0]);

            } else {
                removeUpload();
            }
        };

        function removeUpload() {
            $('.file-upload-input').replaceWith($('.file-upload-input').clone());
            $('.file-upload-content').hide();
        }
        $('.image-upload-wrap').bind('dragover', function () {
            $('.image-upload-wrap').addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
            $('.image-upload-wrap').removeClass('image-dropping');
        });


        $(document).ready(function () {
            if ($(window).width() < 600) {
                $('.navsearchTerm').attr('placeholder', "Search photos");
                $('bt-header').show();
            }
        });

        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });

        $(".notification").popover({
            'title': 'Notification',
            'html': true,
            'placement': 'bottom',
            'content': $(".alert_list").html()
        });


        

        $(document).ready(function () {
            
            var val = "";
            var a;
            $('.image-tag-name').on('focusout', function () {
                var txt = this.value.replace(/[^a-zA-Z0-9\+\-\.\#]/g, ''); // allowed characters list
                if (txt) $(this).before('<span class="tag">' + txt + '</span>');
                this.value = "";
            }).on('keyup', function (e) {
                // comma|space (add more keyCodes delimited with | pipe)
                if (/(188|32)/.test(e.which))                    
                    $(this).trigger('focusout');
            });
            $('.file-upload-btn').on('click', function () {
                $(".tag").each(function () {
                    a = $(this).text();
                    val = a + " " + val;
                });

                $('.image-tag-name').val(val);
            });
        });

        $('.image-tag').on('click', '.tag', function () {
            $(this).remove();
        });

        @*$('.crebtn').click( function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("createCollection", "Collection")",
                dataType:"json",
                data: JSON.stringify({
                    colname: $('.colname').val(),
                    coldes: $('.coldes').val()
                }),           
                success: function (item) {
                    //console.log(item["success"] + " " + item["message"]);
                    $('<p></p>').insertAfter(".collection-item")
                    $('.collection-list').show();
                    $('.collection-create').hide();
                },
                error: function (req, status, error) {
                    console.log(error);
                    console.log(req);
                    console.log(status);
                }
            });
        });*@


    $('#profile').click(function () {
        $('#mediaFile').click();
    });
</script>

</body>
</html>