 <div class="fade bgiPhoto" id="collection_modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="cursor: auto;min-height: 400px;">
            @RenderBody()
        </div>
    </div>
</div>
