
    <div class="modal modal-padd" id="uPhoto" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <button class="close-modal" data-dismiss="modal" aria-label="Close">
            <svg class="_3p8U1" version="1.1" fill="#fff" viewBox="0 0 32 32" width="25" height="25" aria-hidden="false">
                <path d="M25.33 8.55l-1.88-1.88-7.45 7.45-7.45-7.45-1.88 1.88 7.45 7.45-7.45 7.45 1.88 1.88 7.45-7.45 7.45 7.45 1.88-1.88-7.45-7.45z"></path>
            </svg>
        </button>
        <div class="modal-dialog modal-maxw" style="margin:0;">
            <div class="modal-content mod3Xp">
                
               
            </div>
        </div>

    </div>
