@model ErrorViewModel
@{
    ViewData["Title"] = "404";
}

        <div id="layoutError">
            <div id="layoutError_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="text-center mt-5">
                                    <img class="mb-4 img-error" src="~/images/error-404-monochrome.svg" style="width:80%" />
                                   
                                    <a asp-action="Index" asp-controller="Home">
                                        <i class="fa fa-arrow-left mr-1"></i>
                                        Back to home
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
             
        </div>
