@model Img_socialmedia.Models.UserViewModel
@{
    ViewData["Title"] = "Edit Profile";
}

@{
    ViewBag.showsearchbar = false;
}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4 pb-5">
            <!-- Account Sidebar-->
            <div class="author-card pb-3">

                <div id="profile">
                    <div class="dashes"></div>
                    <label id="lb_img">Click to browse or drag an image here</label>

                    <input type="file" id="mediaFile" />
                </div>
                @*<img src="~/images/man.png" alt="Daniel Adams">*@

                <div class="author-card-details">
                    <h5 class="author-card-name text-lg">Daniel Adams</h5><span class="author-card-position">Joined February 06, 2017</span>
                </div>

            </div>
            <div class="wizard">
                <nav class="list-group list-group-flush">

                    <a class="list-group-item active" asp-controller="User" asp-action="editprofile">
                        <i class="fe-icon-user text-muted"></i>Profile Settings
                    </a>
                    <a class="list-group-item" asp-controller="User" asp-action="email">
                        <i class="fe-icon-map-pin text-muted"></i>Change Email
                    </a>

                    <a class="list-group-item" asp-controller="User" asp-action="password">
                        <i class="fe-icon-map-pin text-muted"></i>Change Password
                    </a>


                    <a class="list-group-item" asp-controller="User" asp-action="close">
                        <i class="fe-icon-map-pin text-muted"></i>Close account
                    </a>
                </nav>
            </div>
        </div>
        <!-- Profile Settings-->
        <div class="col-lg-8 pb-5">
            <form class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Firstname" for="account-fn">First Name</label>
                        <input asp-for="Firstname" class="form-control" type="text" id="account-fn" value="Daniel" required="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Lastname" for="account-ln">Last Name</label>
                        <input asp-for="Lastname" class="form-control" type="text" id="account-ln" value="Adams" required="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Email" for="account-email">E-mail Address</label>
                        <input asp-for="Email" class="form-control" type="email" id="account-email" value="daniel.adams@example.com" disabled="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Phone" for="account-phone">Phone Number</label>
                        <input asp-for="Phone" class="form-control" type="text" id="account-phone" value="+7 (805) 348 95 72" required="">
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Bio" for="account-phone">Bio</label>
                        <input asp-for="Bio" class="form-control" type="text" id="bio" value="" required="" style="height:100px;">
                    </div>
                </div>

                <div class="col-12">
                    <hr class="mt-2 mb-3">
                    <div class="d-flex flex-wrap justify-content-between align-items-center">
                        <button class="btn btn-style-1 btn-primary" type="submit" data-toast="" data-toast-position="topRight" data-toast-type="success" data-toast-icon="fe-icon-check-circle" data-toast-title="Success!" data-toast-message="Your profile updated successfuly.">Update Profile</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Footer -->
<footer class="page-footer font-small  k pt-4">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Social buttons -->
        @*<ul class="list-unstyled list-inline text-center">
                <li class="list-inline-item">
                    <a class="btn-floating btn-fb mx-1">
                        <i class="fa fa-facebook-f"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-tw mx-1">
                        <i class="fa fa-twitter"> </i>
                    </a>
                </li>


            </ul>*@
        <!-- Social buttons -->

    </div>


</footer>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#profile').addClass('dragging').removeClass('dragging');
        });

        $('#profile').on('dragover', function () {
            $('#profile').addClass('dragging')
        }).on('dragleave', function () {
            $('#profile').removeClass('dragging')
        }).on('drop', function (e) {
            $('#profile').removeClass('dragging hasImage');

            if (e.originalEvent) {
                var file = e.originalEvent.dataTransfer.files[0];

                console.log(file);
                var reader = new FileReader();

                //attach event handlers here...

                reader.readAsDataURL(file);
                reader.onload = function (e) {
                    console.log(reader.result);
                    $('#profile').css('background-image', 'url(' + reader.result + ')').addClass('hasImage');
                    $("#lb_img").remove();
                }
            }
        });

        $('#profile').on('click', function (e) {
            console.log('clicked')
            $('#mediaFile').click();
        });

        window.addEventListener("dragover", function (e) {
            e = e || event;
            e.preventDefault();
        }, false);

        window.addEventListener("drop", function (e) {
            e = e || event;
            e.preventDefault();
        }, false);

        $('#mediaFile').change(function (e) {

            var input = e.target;
            if (input.files && input.files[0]) {
                var file = input.files[0];

                var reader = new FileReader();

                reader.readAsDataURL(file);
                reader.onload = function (e) {
                    console.log(reader.result);
                    $('#profile').css('background-image', 'url(' + reader.result + ')').addClass('hasImage');

                }
            }
        });
    </script>
}
