@model UserViewModel
@{
    ViewData["Title"] = "Profile";
    ViewBag.showsearchbar = false;
}


    <div class="user_container">
        <main>
            <div class="row">
                <div class="left col-lg-4">
                    <div class="photo-left">
                        <img class="photo" src="@Model.ProfileImg" asp-append-version="true"/>

                    </div>
                    <div class="info_edit">
                        <h4 class="name">@(Model.Firstname+" "+Model.Lastname )</h4>
                        <a class="info_link" asp-controller="User" asp-action="editprofile" alt="edit your profile">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                    <div class="stats row" style="margin:0;">
                        <div class="stat col-xs-4" style="padding-right: 50px;">
                            <p class="number-stat">3,619</p>
                            <p class="desc-stat">Followers</p>
                        </div>
                        <div class="stat col-xs-4">
                            <p class="number-stat">42</p>
                            <p class="desc-stat">Following</p>
                        </div>
                        <div class="stat col-xs-4" style="padding-left: 50px;">
                            <p class="number-stat">38</p>
                            <p class="desc-stat">Uploads</p>
                        </div>
                    </div>
                    <p class="desc">@Model.Bio</p>
                    <div class="social">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>

                    </div>
                </div>
                <div class="right col-lg-8">
                    <span class="follow">Follow</span>
                    <ul class="nav">
                        <li>Photos</li>
                        <li>Follows</li>
                        <li>Collections</li>

                    </ul>

                    <div class="row gallery">
                        @foreach (var item in Model.Post)
                        {
                            <div class="col-md-4">
                                <img src="@item.Photo.Url" />
                            </div>
                        }
                        <!--    <div class="col-md-4">
            <img src="https://images.pexels.com/photos/1036371/pexels-photo-1036371.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
        </div>
        <div class="col-md-4">
            <img src="https://images.pexels.com/photos/861034/pexels-photo-861034.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
        </div>
        <div class="col-md-4">
            <img src="https://images.pexels.com/photos/113338/pexels-photo-113338.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
        </div>
        <div class="col-md-4">
            <img src="https://images.pexels.com/photos/5049/forest-trees-fog-foggy.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
        </div>
        <div class="col-md-4">
            <img src="https://images.pexels.com/photos/428431/pexels-photo-428431.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
        </div>
        <div class="col-md-4">
            <img src="https://images.pexels.com/photos/50859/pexels-photo-50859.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
        </div> -->
                    </div>
                </div>
            </div>
        </main>
    </div>