@model Img_socialmedia.Models.UserViewModel
@{
    ViewData["Title"] = "password";
    ViewBag.showsearchbar = false;
}
    <div class="container mt-5">
        <div class="row">

            <div class="col-lg-4 pb-5">
                <!-- Account Sidebar-->
                <div class="author-card pb-3">
                    <div id="profile">
                        @if (Model.ProfileImg.Length > 0)
                        {
                            <img id="profileimg3" width="200" height="200" src="@Url.Content(Model.ProfileImg)" asp-append-version="true" style="border-radius:100%">
                        }
                        else
                        {
                            <img id="profileimg3" width="200" height="200" src="~/images/@Model.ProfileImg" asp-append-version="true" />
                        }
                    </div>
                    <!--<img src="~/images/man.png" alt="Daniel Adams">-->
                    <div class="author-card-details">
                        <h5 class="author-card-name text-lg">@(Model.Firstname + " " + Model.Lastname)</h5><span>Joined at @Model.CreateAt.ToString("dd/MM/yyyy")</span>
                    </div>

                </div>
                <div class="wizard">
                    <nav class="list-group list-group-flush">

                        <a class="list-group-item" asp-controller="User" asp-action="editprofile" asp-route-id="@Model.Id">
                            <i class="fe-icon-user text-muted"></i>Profile Settings
                        </a>
                        <a class="list-group-item" asp-controller="User" asp-action="email">
                            <i class="fe-icon-map-pin text-muted"></i>Change Email
                        </a>

                        <a class="list-group-item active" asp-controller="User" asp-action="password">
                            <i class="fe-icon-map-pin text-muted"></i>Change Password
                        </a>


                        <a class="list-group-item" asp-controller="User" asp-action="close">
                            <i class="fe-icon-map-pin text-muted"></i>Close account
                        </a>
                    </nav>
                </div>
            </div>
            <!-- Profile Settings-->
            <div class="col-lg-8 pb-5">
                <form class="row" asp-action="password" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Password" for="account-fn">Current password</label>
                            <input name="Password" class="form-control" type="password" id="account-fn">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="account-ln">New password</label>
                            <input class="form-control" name="NewPassword" type="password">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="account-email">Password confirmation</label>
                            <input class="form-control" name="ConfirmPassword" type="password">
                        </div>
                    </div>
                    <div class="col-12">
                        <hr class="mt-2 mb-3">
                        <div class="d-flex flex-wrap justify-content-between align-items-center">
                            <button class="btn btn-style-1 btn-primary" type="submit">Change password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

