@model Img_socialmedia.Models.NotificationViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>NotificationViewModel</h4>
<hr />
<div>
    <a asp-action="Index">Back to List</a>
</div>

